#heading
{
  padding: 12px;
}

.search-main
{
  padding: 14px;
}

.results-table {
  padding: 20px;
}

textarea:focus {
  border-bottom: 1px solid dodgerblue;
  -webkit-box-shadow: 0 1px 0 0 dodgerblue;
  -moz-box-shadow: 0 1px 0 0 dodgerblue;
  box-shadow: 0 1px 0 0 dodgerblue;
}